@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Oxygen&display=swap");
:root {
  --cyan: #A6FAFF;
  --gradient-dark: #162931;
  --gradient-light: #00608A;
  --back: #162931;
  --accent: #A73EB0;
  --text-secondary: #A5BBBC;
  --text: #ffffff;
  --footer-text: #B2B2B2;
  --dark-solid: #161827;
  --red: #F11717;
  --green: #00FF75;
  --orange: #FF9D0B;
}

body, html {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: Oxygen;
  background: -webkit-gradient(linear, left top, right top, from(var(--gradient-dark)), to(var(--gradient-light)));
  background: linear-gradient(90deg, var(--gradient-dark), var(--gradient-light));
  background-attachment: fixed;
  color: var(--text);
}

.hidden {
  opacity: 0;
  z-index: -1;
}

#logo {
  font-family: Inconsolata;
  font-size: 40px;
  color: var(--cyan);
  text-shadow: 0 0 10px #65F6FF;
  z-index: 2;
  margin: auto 0;
}

header {
  margin: 1em;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav {
  position: absolute;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
  background: rgba(22, 24, 39, 0.95);
  width: 100%;
  height: 16em;
  top: 0;
  left: 0;
  padding-top: 5em;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav li {
  margin: 0.5em auto;
  font-size: 22px;
}

header .hamburger {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

header .hamburger .bar {
  margin-top: 7px;
  width: 50px;
  height: 5px;
  -webkit-box-shadow: 0 0 10px #65F6FF;
          box-shadow: 0 0 10px #65F6FF;
  background-color: var(--cyan);
  border-radius: 5px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

header .hamburger .middle {
  width: 40px;
  margin: 7px auto 0 auto;
}

header .active .top {
  -webkit-transform: translate(0, 12px) rotate(45deg);
          transform: translate(0, 12px) rotate(45deg);
}

header .active .bottom {
  -webkit-transform: translate(0, -12px) rotate(-45deg);
          transform: translate(0, -12px) rotate(-45deg);
}

header .active .middle {
  opacity: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  margin-bottom: 5%;
  padding: 1em;
  display: -ms-grid;
  display: grid;
}

a {
  color: var(--text);
  text-decoration: none;
}

h2 {
  margin: 1.5em auto;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 0.13em;
}

h3 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
}

button {
  background-color: var(--accent);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

p {
  color: var(--text-secondary);
  font-size: 24px;
  line-height: 25px;
}

ul {
  padding: 0;
  list-style: none;
}

form {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

form input, form textarea {
  width: 90%;
  height: 3em;
  padding: 0 5%;
  font-size: 16px;
  border-radius: 20px;
}

form button {
  position: absolute;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  right: 0;
  top: 50%;
  height: 2.4em;
  width: 7em;
  font-size: 16px;
  line-height: 17px;
  -webkit-transform: translate(-0.5em, -50%);
          transform: translate(-0.5em, -50%);
}

.hero {
  text-align: center;
  margin-bottom: 8em;
}

.hero h1 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 0.23em;
}

.hero p {
  margin: 0 10%;
  margin-bottom: 2.5em;
}

.hero button {
  width: 70%;
  height: 2.2em;
  font-size: 24px;
}

.hero hr {
  border: none;
  margin: 8px 0;
}

.pricing {
  background-color: var(--dark-solid);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing form {
  margin-bottom: 2em;
}

.pricing__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing article {
  margin: 1.5em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  gap: 10px;
  place-content: center;
}

.pricing article h3 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.pricing article ul {
  -ms-grid-row: 2;
  grid-row: 2;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0.13em;
}

.pricing article .price {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  padding-left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing article .price p {
  color: var(--cyan);
  font-size: 35px;
  margin: auto 0;
  height: 35px;
}

.pricing article .price .dollar {
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
}

.pricing article .price .per-month {
  font-size: 12px;
  vertical-align: middle;
  line-height: 15px;
}

.pricing article .price img {
  margin-left: 1em;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.why-us {
  display: -ms-grid;
  display: grid;
}

.why-us article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 5%;
  margin: 2em 0;
}

.why-us article h3 {
  font-size: 37px;
  margin-top: 0.75em;
}

.why-us article p {
  margin-top: 0.5em;
}

.trusted-by .brands {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 30px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  place-items: center;
}

.trusted-by .brands img {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  max-width: 100%;
}

.faq {
  background-color: var(--dark-solid);
  padding: 0 2em 5em 2em;
  margin-bottom: 3em;
}

.faq h2 {
  margin: 1em auto 0.5em auto;
}

.faq article {
  margin: 0.3em 0;
}

.faq p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.faq h4 {
  font-size: 16px;
  letter-spacing: 0.13em;
  font-weight: normal;
  margin-bottom: 0.4em;
}

footer {
  background-color: var(--dark-solid);
  margin-top: 0.5em;
  padding: 0.5em 1em 0 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
  padding: 0 2rem;
}

footer h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: 0;
}

footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

footer form textarea {
  margin-top: 1em;
  height: auto;
  padding-top: 1em;
}

footer form button {
  top: unset;
  bottom: 0;
  right: 1em;
}

footer p {
  color: var(--footer-text);
  font-size: 18px;
  text-align: center;
  width: 80%;
}

footer .navbar ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: center;
  gap: 50px;
  -webkit-column-gap: 90px;
          column-gap: 90px;
  text-align: center;
}

footer a {
  font-size: 18px;
  letter-spacing: 0.085em;
  font-weight: bold;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .info p {
  margin: 1em auto;
}

@media screen and (min-width: 768px) {
  header {
    margin: 2rem 3rem;
  }
  header .hidden {
    opacity: 1;
    z-index: unset;
  }
  header .hamburger {
    display: none;
  }
  header nav {
    background: unset;
    position: unset;
    width: unset;
    height: unset;
    padding-top: unset;
    margin-left: auto;
  }
  header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav ul li {
    margin: 0 0 0 2em;
  }
  section {
    margin: 0 2rem;
  }
  p {
    font-size: 32px;
    line-height: 1.08em;
  }
  .hero {
    margin-bottom: 5em;
  }
  .hero__left h1 {
    margin: 0;
    text-align: left;
    font-size: 80px;
    letter-spacing: 0.32em;
  }
  .hero__left p, .hero__left button {
    width: 40%;
  }
  .hero__left p {
    text-align: right;
    margin: 1em 0 3em auto;
    letter-spacing: 0.1em;
  }
  .hero__left button {
    margin-left: 60%;
  }
  .pricing {
    margin: 0;
    padding: 0 3em;
  }
  .pricing article .price {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
    padding-left: 0;
    margin-left: auto;
  }
  .pricing article ul {
    font-size: 18px;
  }
  .pricing form {
    width: 90%;
  }
  .pricing form input, .pricing form button {
    font-size: 26px;
  }
  .pricing form button {
    line-height: 1em;
    width: 40%;
  }
  .trusted-by .brands {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 3em;
  }
}

@media screen and (min-width: 1280px) {
  section {
    margin: 0 7rem;
  }
  header {
    margin: 2em 8rem;
  }
  header nav {
    margin-left: 1em;
    width: 100%;
  }
  header nav ul li:last-child {
    margin-left: auto;
  }
  .hero {
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    gap: 3em;
  }
  .browser-svg {
    display: unset;
  }
  .pricing {
    margin: 0 7rem 0 0;
    padding: 0 1rem 0 8rem;
  }
  .pricing article {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .pricing article ul {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .pricing article h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 2rem 0 auto;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .pricing article .price {
    margin-right: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .pricing article .price p {
    font-size: 48px;
    height: auto;
    margin: 0;
    margin-left: 1rem;
  }
  .pricing__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pricing__top form {
    margin: auto 2rem;
    height: 100%;
    width: 70%;
  }
  .why-us {
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .why-us h2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .faq {
    padding-left: 8rem;
    padding-right: 8rem;
    margin: 1rem 8rem;
  }
  .trusted-by {
    margin: 2rem 0 5rem 0;
  }
  .trusted-by .brands {
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    gap: 3em;
  }
  footer {
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 0 8rem;
  }
  footer h2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  footer > p {
    text-align: left;
    height: 100%;
    line-height: 1.4em;
  }
  footer form {
    width: 100%;
  }
  footer .navbar, footer .info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  footer .navbar ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    margin: 2em;
  }
  footer .info {
    width: 60%;
  }
  footer .info p {
    margin: 0.5em;
  }
}

@media screen and (min-width: 1920px) {
  section {
    margin: 2rem 14rem;
  }
  h2 {
    font-size: 48px;
  }
  header {
    margin: 3rem 15rem;
  }
  header nav {
    margin-left: 4em;
  }
  .hero__left {
    margin: 4rem 0;
  }
  .hero__left p {
    margin-bottom: 1em;
  }
  .pricing {
    margin: 5rem 14rem 0 0;
    padding: 0 2rem 0 14rem;
  }
  .faq {
    padding-left: 8rem;
    padding-right: 8rem;
    margin: 2rem 15rem;
  }
  footer {
    padding: 0 15rem;
    -ms-grid-columns: 2fr 2fr 1fr;
        grid-template-columns: 2fr 2fr 1fr;
    row-gap: 2rem;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  footer .navbar {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  footer .navbar ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0;
  }
  footer .navbar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  footer form {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  footer > p {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  footer h2 {
    margin-bottom: 0;
  }
  footer .info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5rem;
  }
}
/*# sourceMappingURL=main.css.map */